<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>		
		<nav>		
    		<ul>
			<li><b>href="/">BOAKYE DANKWA</b></li>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
        		<li><a href="/cv">Resume</a></li>
        		<li><a href="/blog">Blog</a></li>
    		</ul>
		</nav>
		<div class="container">

			{{ content }}
			
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:bdankwa@gmail.com">email</a></li>
        		<li><a href="https://github.com/bdankwa">bdankwa@gmail.com</a></li>
			</ul>
		</footer>
	</body>
</html>
